body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link {
  text-decoration: none;
  margin: 0px 10px 0px 0px
}

a:visited {
  text-decoration: none;
  color: #1a2230;
}
a:hover {
  text-decoration: none;
  color: #5885af;
  scale: 1.05;
}
a:active {
  text-decoration: none;
}

body {
  background-image: url('https://i.imgur.com/oLoGJXr.jpg');
  background-attachment: fixed;
  background-position: center-center;
  background-repeat: repeat-y;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  color: #1a2230;
}

.add-book-form, .input-fields {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px
}

#add-btn, #register-btn, #login-btn {
  width: 100px;
  text-align: center;
  background-color: #41729f;
  border: 2px solid #effafc;
  filter: drop-shadow(1px 1px 1px #effafc);
  color: #effafc;
  padding: 5px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.2s;
}
#add-btn:hover, #register-btn:hover, #sub-btn:hover, #login-btn:hover, #del-btn:hover, #up-btn:hover {
  background-color: #effafc;
  color: #1a2230;
}

#del-btn, #up-btn, #sub-btn {
  width: 70px;
  margin: 10px;
  text-align: center;
  background-color: #41729f;
  border: 2px solid #effafc;
  filter: drop-shadow(1px 1px 1px #effafc);
  color: #effafc;
  padding: 5px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.2s;
}

.book-card, .book-card-name {
  filter: drop-shadow(5px 5px 5px #41729f);
  border-radius: 4px;
  color: #effafc;
  margin: 20px;
  width: 100px;
  height: 300px
}

.book-names {
  width: 100px;
  height: 325px;
  border-radius: 5px;
}

.box {
  background-color: #274472;
  color:#effafc;
  filter: drop-shadow(5px 5px 5px #242e3f);
  margin: 100px 200px;
  padding: 20px;
  text-align: center;
}

.center-column {
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#header {
  background-color: white;
  filter: drop-shadow(1px 1px 2px #c7b6be);
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: 'Lato', sans-serif;
  color: #1a2230;
}

.nav-container {
  justify-content: space-between;
  align-items: center;
  margin: 0px 5px 0px 5px
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-width {
  text-align: center;
}

#review-btn {
  width: 30vw;
  text-align: center;
  background-color: #242e3f;
  border: 2px solid #1a2230;
  border-radius: 20px;
  filter: drop-shadow(1px 1px 1px #effafc);
  color: #effafc;
  padding: 5px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.2s;
}

#review-btn:hover {
  background-color: #5885af;
  color: #1a2230;
}

.rotate-text {
  writing-mode: vertical-lr;
  text-align: center;
  
}

.the-form {
  background-color: #274472;
  color: #effafc;
  text-align: center;
  margin: 100px 300px;
  padding: 50px;
  filter: drop-shadow(2px 2px 2px #242e3f);
  border-radius: 10px;
}

.wrap-row {
  flex-wrap: wrap;
}

@media (max-width: 500px) {
  body {
    background-image: none;
    background-color:#effafc
  }
}